* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
}

#root {
    height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212; 
    color: #1DB954; 
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.login-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.login-description {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #B3B3B3; 
}

.login-button {
    background-color: #1DB954; 
    padding: 15px 30px;
    font-size: 1em;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #1ed760; 
}
